certifi==2023.5.7
charset-normalizer==3.1.0
gevent==22.10.2
greenlet==2.0.2
idna==3.4
markdown-it-py==2.2.0
mdurl==0.1.2
Pygments==2.15.1
requests==2.31.0
rich==13.3.5
urllib3==1.26.16
websocket==0.2.1
websocket-client==0.57.0
zope.event==4.6
zope.interface==6.0
